# Environment Variable Management
python-dotenv

# LangChain Core
langchain
langchain-core

# MistralAI Integration
langchain-mistralai
mistralai


# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub